/RemoteCtrl/.vs
/RemoteCtrl/RemoteClient/*.user
/RemoteCtrl/RemoteCtrl/*.user
/RemoteCtrl/RemoteClient/*.aps
/RemoteCtrl/Debug
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/RemoteCtrl/RemoteCtrl.aps
